<div class="col-md-12">
  <h1>Welcome! This is a tamagotchi game.</h1>
  <form class="col-md-8" action="/gamepage" method="get">
    <div class="form-group">
    <label for="tamagochiName">Enter the name</label>
    <input id="tamagochiName" type="text" name="tamagochiName" required class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Start Game</button>
  </form>
